In [68]:
import pandas as pd
import string
import random

In [69]:
df = pd.read_excel('./data/Online Retail.xlsx')

In [70]:
ordf = df.copy()

In [103]:
df = ordf.copy()

In [104]:
#removing any alpha from the invoice number
import re
non_digit = re.compile(r'(\D)+')
df.InvoiceNo = df.InvoiceNo.apply(lambda x : int(non_digit.sub('',str(x))))

In [105]:
df.InvoiceNo = pd.to_numeric(df.InvoiceNo)

In [106]:
df.InvoiceNo = df.InvoiceNo.apply(lambda x : str(abs(x - int(str(x)[::-1]))).zfill(6))

In [109]:
exceptions = ['POST', 'DOT', 'M', 'AMAZONFEE', 'C2', '', ' ']

In [110]:
df.StockCode = df.StockCode.apply(lambda x : (non_digit.sub("",str(x))) if x not in exceptions else x)

In [111]:
df.StockCode = df.StockCode.apply(lambda x : str(abs(int(x)-int(str(x)[::-1]))).zfill(6) if x not in exceptions else x )

In [112]:
unique_stocks = df.StockCode
stock_map = {}
for i in unique_stocks:
    stock_map[i] = random.choice(string.ascii_uppercase)

In [113]:
df.StockCode = df.StockCode.apply(lambda x : str(x)+str(stock_map[x]) if x not in exceptions else x)

In [115]:
df.Quantity = df.Quantity.apply(lambda x : int(x*1.2) if x>5 else x)

In [117]:
df.CustomerID = df.InvoiceNo

In [118]:
unique_countries = df.Country.unique()

In [132]:
country_mapper = []
for i in range(50):
    country_mapper.append(random.choice(string.ascii_uppercase)+random.choice(string.ascii_uppercase))
country_mapper = set(country_mapper)
country_mapper = list(country_mapper)

In [133]:
country_map = {}
for i in range(len(unique_countries)):
    country_map[unique_countries[i]] = country_mapper[i]

In [134]:
df.Country = df.Country.apply(lambda x : country_map[x])

In [135]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,027270,052965T,WHITE HANGING HEART T-LIGHT HOLDER,7,2010-12-01 08:26:00,2.55,027270,SS
1,027270,036036E,WHITE METAL LANTERN,7,2010-12-01 08:26:00,3.39,027270,SS
2,027270,023958G,CREAM CUPID HEARTS COAT HANGER,9,2010-12-01 08:26:00,2.75,027270,SS
3,027270,008019O,KNITTED UNION FLAG HOT WATER BOTTLE,7,2010-12-01 08:26:00,3.39,027270,SS
4,027270,008019O,RED WOOLLY HOTTIE WHITE HEART.,7,2010-12-01 08:26:00,3.39,027270,SS